.section {
    background: url('../../../assets/sekretyi-pravilnogo-zdorovogo-pitaniya.jpg') no-repeat center;
    width: 100%;
    height: 600px;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.create {
    display: flex;
    margin-top: 100px;
    background-color: #7dc4b7;
    border-radius: 10px;
}
.form-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.form-control {
    min-width: 500px;
    height: 30px;
    margin: 20px 0px 0px 60px; 
    background-color: #fff;
    margin-bottom: 3px;
    font-size: 16px;
    padding-left: 5px;
    font-weight: 700;
    border: none;
    color: #333;
}
.btn {
    width: 150px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    margin-top: 5px;
    padding: 5px 20px 5px 20px;
}
.error-text {
    color: red;
}
.btns {
    width: 500px;
    display: flex;
    justify-content: center;
    margin: 10px 0px 20px 80px;
}
.btn-back {
    width: 100px;
    margin-right: 5px;
    text-align: center;
}